service cloud.firestore {
  match /databases/{database}/documents {
    match /raids/{raidId} {
      allow read; 
      allow write: 
      if request.resource.data.gymData.geohash != '' &&
      request.resource.data.starttime != '' &&
      request.resource.data.endtime != '';
      allow update, delete: 
      if false
      match /comments/{commentId} {
      	allow read;
      	allow create,update;
      }
    }
    match /gyms/{gymId} {
      allow read; 
      allow create,update: if request.auth.uid !=null;
    }
  }
}